* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  height: 50px;
  border: 1px solid wheat;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  overflow: hidden;
  max-width: 100vw;
  height: 60px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 15px; */
}
header nav {
  display: flex;
  height: 35px;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
header nav:nth-of-type(1) a {
  width: 85px;
  text-align: center;
}
header nav:nth-of-type(2) a:nth-of-type(1) span {
  display: block;
  /* direction: rtl; */
}

header img {
  margin-top: 7px;
  height: 60px;
}

header .input-section input:-moz-placeholder {
  text-align: right;
}
header .input-section input:-ms-input-placeholder {
  text-align: right;
}
header .input-section input::-webkit-input-placeholder {
  text-align: right;
}
header .input-section input {
  width: 50vw;
  height: 35px;
  /* border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; */
  border: none;
}

.input-section {
  display: flex;
  align-items: center;
}
.input-section button {
  height: 35px;
  width: 42px;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #f3a847;
}

.summary-section {
  align-content: center;
  background-color: #d4d4d4;
  color: white;
  border: none;
  height: 35px;
  width: 42px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.summary-section summary  {
    font-size: small;
    color: gray;
}