main {
  border: 6px solid rgb(244, 244, 244);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  text-align: center;
  font-size: 24px;
}
.box {
  min-height: 145px;
  color: white;
}
.box1 {
  background: red;
  grid-column: 1/6;
}
.box2 {
  background:black;
  grid-column: 6/13;
}
.box3 {
  background:green;
  grid-column: 1/3;
  grid-row: 2/7;
}
.box4 {
  background:blue;
  grid-column: 3/11;
  grid-row: 2/4;
}
.box5 {
  background:red;
  grid-column:11/13;
  grid-row: 2/3;
}
.box6 {
  background:pink;
  grid-column:3/5;
  grid-row: 4/5;
}
.box7 {
  background:pink;
  grid-column:9/11;
  grid-row: 4/5;
}
.box8 {
  background:red;
  grid-column:11/13;
  grid-row: 4/5;
}
.box9 {
  background:pink;
  grid-column:5/7;
  grid-row: 5/6;
}
.box10 {
  background:rgb(255, 191, 203);
  grid-column:11/13;
  grid-row: 5/6;
}
.box11 {
  background:orange;
  grid-column:3/13;
  grid-row: 6/7;
}