#black-line {
  background-color: black;
  width: 100%;
  height: 75px;
}

#red-block {
  color: aliceblue;
  font-size: 12px;
  background-color: red;
  border-radius: 4px;
  position: absolute;
  top: 25px;
  left: 325px;
  padding: 7px 13px;
}

#img-logo {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0px;
  left: 930px;
}

#fa-sun {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 28px;
  left: 1550px;
}

#selc-menu {
  direction: rtl;
  position: sticky;
  top: 0;
  background-color: rgb(158, 153, 153);
  font-size: 40px;
  text-align: center;
  /* margin: 0px 0px 0px 0px; */
}
a {
  text-decoration: none;
}
a:hover {
  background-color: rgb(210, 8, 8);
}