* {
  margin: 0;
  padding: 0;
}
body {
  background-color: aqua;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

main {
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
  height: 90%;
  width: 90%;
}
.title {
  position: fixed;
  margin: 2em 0em 0em 7.5em;
  z-index: 1;
}
nav {
  background-color: rgb(255, 255, 255);
  position: fixed;
  display: flex;
  height: 18vh;
  width: 79.4vw;
  align-items: center;
  justify-content: end;
  gap: 1em;
}
.link {
  text-decoration: none;
  padding: 1em 6em;
  color: rgb(0, 0, 0);
  border-radius: 1em;
}
.link:hover {
  background-color: rgb(201, 201, 201);
}
.p_1 {
  position: fixed;
  color: black;
  font-size: 30px;
  z-index: 1;
  margin: 4em 0em 0em 8em;
}

.img_1 {
  justify-self: end;
  width: 7vw;
  height: 10vh; 
  padding: 1em; 
}
.create_S {
  margin: 10em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);  
}
.section_card {
  box-shadow: 1em 1em 2em grey;
  border-radius: 1em;
  padding-top: 1em;
  
  margin-left: 4em;
  margin-top: 3em;
  margin-right: 3em;
  width: 80%;
  height: 80%;
}
.section_card:hover {
    background-color: rgb(201, 201, 201);
}