body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

.game {
  background-color: white;
  width: 300px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 80px;
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 6px 12px;
  margin: 5px;
  cursor: pointer;
}


.correct {
  color: green;
  font-weight: bold;
}

.wrong {
  color: orange;
  font-weight: bold;
}

.game-over {
  color: red;
  font-weight: bold;
}

#playAgain {
  display: none;
}
