main {
  border: 4px solid black;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.box {
  min-height: 100px;
  border: 4px solid rgb(255, 0, 0);
  background: greenyellow;
}
.box1 {
  background: blue;
  grid-column: 1/3;
  grid-row: 1/3;
}
.box2 {
  grid-column: 3/7;
  border: 4px solid rgba(255, 145, 0, 0.939);
}
.box3 {
  grid-column: 7/9;
  background: blue;
  border: 4px solid rgb(238, 255, 0);
}
.box4 {
  background: blue;
  grid-column: 3/5;
  border: 4px solid rgb(0, 255, 132);
}
.box5 {
  background: blue;
  grid-column: 5/7;
  grid-row: 2/5;
  border: 4px solid rgb(0, 217, 255);
}
.box6 {
  grid-column: 7/9;
  grid-row: 2/5;
  border: 4px solid rgb(255, 0, 0);
}
.box7 {
  grid-column: 1/5;
  grid-row: 3/5;
  border: 4px solid rgb(195, 0, 255);
}
.box8 {
  background: blue;
  grid-column: 1/3;
  grid-row: 5/7;
  border: 4px solid rgb(255, 0, 247);
}

.box9 {
  grid-column: 3/7;
  grid-row: 5/7;
  border: 4px solid rgb(195, 0, 255);
}
.box10 {
  background: blue;
  grid-column: 7/9;
  grid-row: 5/7;
  border: 4px solid rgb(195, 0, 255);
}
.box11 {
  grid-column: 1/3;
  grid-row: 7/9;
  border: 4px solid rgb(195, 0, 255);
}
.box12 {
  background: blue;
  grid-column: 3/7;
  grid-row: 7/8;
  border: 4px solid rgb(195, 0, 255);
}
.box13 {
  background: blue;
  grid-column: 7/8;
  grid-row: 7/9;
  border: 4px solid rgb(195, 0, 255);
}
.box14 {
  grid-column: 8/9;
  grid-row: 7/9;
  border: 4px solid rgb(195, 0, 255);
}
.box15 {
  grid-column: 3/7;
  grid-row: 8/9;
  border: 4px solid rgb(195, 0, 255);
}