main {
  display: flex;
  justify-content: space-around;
}
.box {
  min-height: 100px;
  flex-basis: 100px;
  border: 2px solid black;
}
.box {
  /* transition: transform 2s ease; */
}
.box1:hover {
  /* transform: translate(0,100px); */
  /* transform: rotate(450deg) scale(1.5); */
}
.box2:hover {
  /* transform:rotate(459deg) scale(1.5); */
}
/* transform:skew(10deg , -10deg); */
.box3:hover {
}
.box1 {
  border-radius: 100%;
  animation: loader 2s infinite ease-in;
}
.box2 {
  border-radius: 100%;
  animation: loader 2s infinite ease-in;
}
.box3 {
  border-radius: 100%;
  animation: loader 2s infinite ease-in;
}

@keyframes loader {
  25% {
    border-top: 6px solid rgb(255, 0, 0);
  }
  50% {
    border-top: 6px solid rgb(255, 200, 0);
    border-right: 6px solid rgb(255, 0, 238);
  }
  75% {
    border: 6px solid rgb(255, 0, 0);
  }
  100% {
    border-top: 6px solid rgb(0, 195, 255);
  }
  0% {
    border-top: 6px solid blue;
  }
}
