main {
  background: gray;
  display: flex;
  align-items: stretch;
  height: 200px;
  border: 5px solid violet;
  flex-wrap: nowrap;
}
.box {
  border: 1px solid black;
  width: 100px;
  flex-basis: 200px;
  min-height: 100px;
}
.box1 {
  background: blue;
  flex-grow: 1;
  flex-shrink: 1;
  border: 5px solid yellowgreen;
}
.box2 {
  background: red;
  flex-grow: 2;
  flex-shrink: 2;
  border: 5px solid yellowgreen;
}
.box3 {
  background: green;
  flex-grow: 1;
  flex-shrink: 1;
  border: 5px solid yellowgreen;
}
