body {
    overflow: hidden;
    height:100vh ;
    margin: 0;
  /* display: flex; */
}

.grand-father {
    display: flex;
    justify-content: center;
    height: 70%;
    width: 20%;
    margin: 2rem;
    border: 1em solid black;
    padding: 2%;

}
.fathar1 {
  border: 4px solid rgb(0, 255, 68);
  /* width: 375px; */
  /* height: 812px; */
  background-color: #192038;
}
.row {
  border: 4px solid rgb(51, 76, 0);
  color: white;
  /* width: 10%; */
}
