.main-phone {
  width: 350px;
  height: 750px;
  background: orange;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 50px 1fr 600px;
}
header {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid rgb(71, 50, 205);
}
.camre {
  width: 30px;
  text-decoration: none;
}
.text {
  justify-self: center;
  font-size: 20px;
}
.search {
  justify-self: end;
  text-decoration: none;
}


.for-img {
  padding: 0 15px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* grid-template-columns: repeat(4, 1fr); */
  border: 2px solid rgb(3, 3, 3);
}
.f-img div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(255, 0, 191);
  overflow-x: auto;
}
.post1 {
  width: 346px;
  height: 300px;
  border: 2px solid yellow;
}
