main {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: repeat(2, minmax(100px, 1fr)) 2fr;
  /* place-items: start; */
  /* gap: 2rem; */
}
.box {
  /* min-height: 100px; */
  /* border: 2px solid black; */
}
.box1 {
  background: rgb(50, 76, 205);
}
.box2 {
  grid-row: 1/3;
  grid-column: 2/4;
  background: rgb(205, 50, 50);
}
.box3 {
  background: rgb(6, 120, 0);
}
.box4 {
  background: rgb(192, 186, 0);
}
.box5 {
  background: rgb(190, 101, 0);
}
.box6 {
  background: rgb(94, 94, 94);
}
.box7 {
  background: rgb(97, 0, 149);
}
.box8 {
  background: rgb(88, 0, 0);
  grid-template-columns:repeat()
}
