body {
  background-color: black;
  height: 100vh;
}

.container {
  background-color: white;
  display: inline-block;
  width: 428px;
  height: 926px;
  margin: 50px 0px 0px 700px;
  border-radius: 50px;
}
.arrow-left {
    float: left;
    margin: 30px 0px 0px 10px;
}
h1 {
    float: left;
    margin: 40px 0px 0px 100px;
}
.notification {
    margin: 30px 0px 0px 110px;
}

.visa {
  width: 388.95;
  height: 205px;
  margin: 30px 0px 0px 19px;
  border-radius: 27.39px;
}
h2 {
    margin: 20px 0px 0px 125px;
    font-weight: bold;
}
h3 {
    margin: 70px 0px 0px 50px;
}
input {
    width: 350px;
    height: 50.05px;
    margin: 5px 0px 0px 50px;
    border-radius: 5px;
}
.newCard-btn{
    margin: 20px 0px 0px 250px;
}